In [53]:
from rake_nltk import Rake
import pandas as pd
import numpy as np
import os

In [54]:
r = Rake(punctuations= ['(', ')', ',', ':', '),', ').', '.'])

In [55]:
os.chdir('/Users/alisdghnia/Desktop/')
df2 = pd.read_hdf('all text.h5')
df2

                                                                           test
Bitbase - Whitepaper          ​v bitbase​ ​whitepaper​ ​ new​ ​escrow​ ​bloc...
Neural Protocol - Whitepaper  table of contents abstract introduction nrp to...
Idena - Whitepaper            idena concept paper idena concept paper draft ...
LiveStars - Whitepaper        w t p a p r november version new generation we...
Ferret Token - Whitepaper     disclaimer rates for ferret token products are...
...                                                                         ...
BitCoen - Whitepaper          bitcoen white paper contents short description...
Marginless - Whitepaper       social betting networkpowered by blockchain ta...
Cryptonex - Whitepaper        white paper introduccidon blockchain review ma...
MediBloc - Whitepaper           whitepaper version           oct           m...
Qbic - Whitepaper             qbic manifesto an open source initiative elect...

[1838 rows x 1 columns]

In [56]:
corpus_data = pd.DataFrame({'corpus': [''.join(df2['test'].tolist())]})

In [57]:
corpus_data

                                              corpus
0  ​v bitbase​ ​whitepaper​ ​ new​ ​escrow​ ​bloc...

In [4]:
df2.reset_index(inplace=True)
df2.rename(columns= {'index' : 'Name'}, inplace=True)

df2

,Name,test
0,Bitbase - Whitepaper,​v bitbase​ ​whitepaper​ ​ new​ ​escrow​ ​bloc...
1,Neural Protocol - Whitepaper,table of contents abstract introduction nrp to...
2,Idena - Whitepaper,idena concept paper idena concept paper draft ...
3,LiveStars - Whitepaper,w t p a p r november version new generation we...
4,Ferret Token - Whitepaper,disclaimer rates for ferret token products are...
...,...,...
1833,BitCoen - Whitepaper,bitcoen white paper contents short description...
1834,Marginless - Whitepaper,social betting networkpowered by blockchain ta...
1835,Cryptonex - Whitepaper,white paper introduccidon blockchain review ma...
1836,MediBloc - Whitepaper,  whitepaper version           oct           m...
1837,Qbic - Whitepaper,qbic manifesto an open source initiative elect...

In [58]:
r.extract_keywords_from_text(corpus_data.corpus[0])

In [59]:
df = pd.DataFrame(r.get_ranked_phrases_with_scores(), columns= ['score', 'phrase'])

In [60]:
df

                score                                             phrase
0        1.896644e+07                 ...
1        1.329395e+07  investors䤀一䌀伀䜀一䤀吀伀 圀 䠀 䤀 吀 䔀 倀 䄀 倀 䔀 刀 吀栀攀 䔀渀瘀...
2        8.485172e+06  partner содержание обзор рынка проблематика ре...
3        4.730552e+06  evedo white paper秀币项目白皮书 去中心化的互动式直播平台 version ...
4        2.689269e+06  build blockchain 免责声明 本白皮书内任何内容均不构成任何建议 （ 法律建议...
...               ...                                                ...
3268174  1.000000e+00                                          abasement
3268175  1.000000e+00                                    abandonmentlack
3268176  1.000000e+00                                    abandonmentlack
3268177  1.000000e+00                                              aarrr
3268178  1.000000e+00                                              aarrr

[3268179 rows x 2 columns]

In [80]:
df = pd.DataFrame.from_dict(r.get_word_frequency_distribution(), orient='index')

In [65]:
df.rename(columns={'0' : 'count'}, inplace=True)

In [81]:
df.reset_index(inplace=True)
df.rename(columns= {'index' : 'word'}, inplace=True)

In [82]:
df

                                                    word       0
0                                                      ​  239173
1                                                      v    9543
2                                                bitbase      33
3                                             whitepaper    9603
4                                                    new   20103
...                                                  ...     ...
168176                                        mecidorcid       1
168177                                     icidtecidsive       1
168178                                      derivatiocid       1
168179                                   fucidctiocidcid       1
168180  httpphoecidicidcoicidorgarchivecideoscrcidptvpdf       1

[168181 rows x 2 columns]

In [83]:
df.rename(columns={0 : 'score'}, inplace=True)

In [84]:
df

                                                    word   score
0                                                      ​  239173
1                                                      v    9543
2                                                bitbase      33
3                                             whitepaper    9603
4                                                    new   20103
...                                                  ...     ...
168176                                        mecidorcid       1
168177                                     icidtecidsive       1
168178                                      derivatiocid       1
168179                                   fucidctiocidcid       1
168180  httpphoecidicidcoicidorgarchivecideoscrcidptvpdf       1

[168181 rows x 2 columns]

In [85]:
df_new = df.loc[df['score'] < 200000]

In [86]:
df_new_new = df_new.loc[df_new['score'] > 100]

In [87]:
df_new_new

              word  score
1                v   9543
3       whitepaper   9603
4              new  20103
5           escrow   1474
6       blockchain  48417
...            ...    ...
166728         jct    117
166795      lition    376
167530     cartesi    153
167833     bitcoen    173
167985  marginless    116

[7212 rows x 2 columns]

In [88]:
final_df = df_new_new[df_new_new['word'].str.len() > 2]

In [91]:
final_df.reset_index(inplace=True)

In [92]:
final_df

       index        word  score
0          3  whitepaper   9603
1          4         new  20103
2          5      escrow   1474
3          6  blockchain  48417
4          7  technology  18007
...      ...         ...    ...
6912  166728         jct    117
6913  166795      lition    376
6914  167530     cartesi    153
6915  167833     bitcoen    173
6916  167985  marginless    116

[6917 rows x 3 columns]

In [93]:
final_df.drop(columns= ['index'], inplace=True)

/var/folders/_9/qq7pw_fx125c812gfv1wl_180000gn/T/ipykernel_31212/820474268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns= ['index'], inplace=True)

In [94]:
final_df

            word  score
0     whitepaper   9603
1            new  20103
2         escrow   1474
3     blockchain  48417
4     technology  18007
...          ...    ...
6912         jct    117
6913      lition    376
6914     cartesi    153
6915     bitcoen    173
6916  marginless    116

[6917 rows x 2 columns]

In [95]:
final_df.to_csv('keywords_rake_library.csv')

# ChatGPT OpenAI Keywords

In [97]:
word_list = [ 'Blockchain', 'Cryptocurrency', 'Bitcoin', 'Altcoins', 'Proof of Stake', 'Mining', 'Ethereum', 'Smart Contracts', 'Decentralized Applications', 'Initial Coin Offerings', 'Lightning Network', 'Stablecoins', 'Wallets', 'Governance', 'Scalability', 'Sidechains', 'Atomic Swaps', 'Crypto Exchanges', 'Whitepaper', 'ERC20', 'DeFi', 'Liquidity', 'Ledger', 'Cryptography', 'Nodes', 'Masternodes', 'Consensus', 'Hashrate', 'ICOs', 'Oracles', 'Wallets', 'Forking', 'Proof of Work', 'Cold Storage', 'Privacy', 'SHA256', 'UTXO', 'Airdrops', 'Address', 'Private Keys', 'ERC721', 'Non-Fungible Tokens', 'Atomic Swap', 'Ripple', 'Litecoin', 'Monero', 'Zcash', 'Stellar', 'Cardano', 'Tron', 'Chainlink', 'Neo', 'EOS', 'Dash', 'Quantum Computing', 'Cryptanalysis', 'Immutability', 'DDoS', 'KYC', 'AML', 'Delegated Proof of Stake', 'Staking', 'Masternode Rewards', 'Cold Staking', 'Mining Pools', 'Zerocoin', 'SegWit', 'EVM', 'ASIC Resistance', 'Atomic Cross-Chain Swaps', 'Atomic Multi-Path Payment', 'Multi-Signature', 'Off-Chain Transactions', 'Interoperability', 'Decentralized Storage', 'Cross-Chain Communication', 'Cryptoeconomics', 'Smart Asset', 'Lightweight Nodes', 'Sidechain Solutions', 'Off-Chain Protocols', 'Distributed Ledgers', 'Account Abstraction Layer', 'Delegated Byzantine Fault Tolerance', 'Merge Mining', 'Cross-Chain Atomic Swaps', 'InterPlanetary File System', 'Cryptocurrency Exchanges', 'Ripple Protocol', 'Custody Solutions', 'Atomic Arbitrage', 'Multi-Chain Protocols', 'Crypto Collectibles', 'Hashing Algorithms', 'Zero-Knowledge Proofs', 'Tokenization', 'Hierarchical Deterministic Wallets', 'Proof of Authority']

In [99]:
word_list

['Blockchain',
 'Cryptocurrency',
 'Bitcoin',
 'Altcoins',
 'Proof of Stake',
 'Mining',
 'Ethereum',
 'Smart Contracts',
 'Decentralized Applications',
 'Initial Coin Offerings',
 'Lightning Network',
 'Stablecoins',
 'Wallets',
 'Governance',
 'Scalability',
 'Sidechains',
 'Atomic Swaps',
 'Crypto Exchanges',
 'Whitepaper',
 'ERC20',
 'DeFi',
 'Liquidity',
 'Ledger',
 'Cryptography',
 'Nodes',
 'Masternodes',
 'Consensus',
 'Hashrate',
 'ICOs',
 'Oracles',
 'Wallets',
 'Forking',
 'Proof of Work',
 'Cold Storage',
 'Privacy',
 'SHA256',
 'UTXO',
 'Airdrops',
 'Address',
 'Private Keys',
 'ERC721',
 'Non-Fungible Tokens',
 'Atomic Swap',
 'Ripple',
 'Litecoin',
 'Monero',
 'Zcash',
 'Stellar',
 'Cardano',
 'Tron',
 'Chainlink',
 'Neo',
 'EOS',
 'Dash',
 'Quantum Computing',
 'Cryptanalysis',
 'Immutability',
 'DDoS',
 'KYC',
 'AML',
 'Delegated Proof of Stake',
 'Staking',
 'Masternode Rewards',
 'Cold Staking',
 'Mining Pools',
 'Zerocoin',
 'SegWit',
 'EVM',
 'ASIC Resistance',
 'Atomic Cross-Chain Swaps',
 'Atomic Multi-Path Payment',
 'Multi-Signature',
 'Off-Chain Transactions',
 'Interoperability',
 'Decentralized Storage',
 'Cross-Chain Communication',
 'Cryptoeconomics',
 'Smart Asset',
 'Lightweight Nodes',
 'Sidechain Solutions',
 'Off-Chain Protocols',
 'Distributed Ledgers',
 'Account Abstraction Layer',
 'Delegated Byzantine Fault Tolerance',
 'Merge Mining',
 'Cross-Chain Atomic Swaps',
 'InterPlanetary File System',
 'Cryptocurrency Exchanges',
 'Ripple Protocol',
 'Custody Solutions',
 'Atomic Arbitrage',
 'Multi-Chain Protocols',
 'Crypto Collectibles',
 'Hashing Algorithms',
 'Zero-Knowledge Proofs',
 'Tokenization',
 'Hierarchical Deterministic Wallets',
 'Proof of Authority']