In [2]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import os

In [3]:
os.chdir('/Users/alisdghnia/Desktop/Data CSV Files/')

In [29]:
dep_data = pd.read_csv('Yahoo Finance Success Factors 1-10000.csv')
dep_data

,Unnamed: 0,Name,Price (Intraday),% Change,Market Cap,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,1,Bitcoin USD,22908.160000,-3.49%,437.942B,24.605B,24.605B,24.605B,19.117M
1,2,Ethereum USD,1682.820000,-4.72%,205.138B,17.072B,17.072B,17.072B,121.901M
2,3,Tether USD,1.000200,0.01%,66.533B,47.858B,47.858B,47.858B,66.518B
3,4,USD Coin USD,0.999791,0.01%,54.018B,6.807B,6.807B,6.807B,54.03B
4,5,Binance Coin USD,321.640000,-0.86%,51.892B,1.199B,1.199B,1.199B,161.337M
...,...,...,...,...,...,...,...,...,...
9995,9996,Tuzlaspor Token USD,0.616437,-14.91%,0,2315,2315,2315,0
9996,9997,AmazingTeamDAO USD,26.250000,-22.36%,0,233949,233949,233949,0
9997,9998,Fantastic Protocol SNOWY Token USD,0.000270,-4.66%,0,517823,517823,517823,0
9998,9999,SpaceGrime USD,0.000000,-0.98%,0,16,16,16,0
9999,10000,SaunaFinance Token USD,0.001211,-2.66%,0,243,243,243,0

In [30]:
ind_data = pd.read_csv('Master Data Sheet Fixed 4.csv')
ind_data

,Unnamed: 0,Name,File Size (MB),Number of Pages,Word Count,Flesch Reading Ease,New Dale-Chall,Abstract Section,Summary Section,Reference Section
0,0,WeTrust1.pdf,1.342260,40,12504,43.02,7.33,True,False,True
1,1,Libra4.pdf,0.293671,41,17474,54.42,6.51,True,False,True
2,2,B2BX1.pdf,15.404950,42,1,121.22,19.48,False,False,False
3,3,Bytom1.pdf,0.374002,17,4536,34.15,7.79,True,False,True
4,4,Cindicator1.pdf,1.123809,37,15509,42.92,7.08,False,False,False
...,...,...,...,...,...,...,...,...,...,...
551,551,CPChain1.pdf,1.195266,34,7203,40.28,6.96,False,False,False
552,552,Presearch2.pdf,5.291211,39,12904,41.70,7.16,True,False,False
553,553,Electra1.pdf,0.624846,34,5508,37.13,9.05,True,True,False
554,554,Blockmason1.pdf,3.355893,31,13640,49.04,7.00,False,False,False
555,555,Nucleus-Vision1.pdf,0.900639,1,409,36.12,12.53,False,False,False

In [31]:
ind_data['Crypto Name'] = ind_data['Name'].map(lambda x: process.extractOne(x, dep_data['Name'])[0])

In [32]:
ind_data

,Unnamed: 0,Name,File Size (MB),Number of Pages,Word Count,Flesch Reading Ease,New Dale-Chall,Abstract Section,Summary Section,Reference Section,Crypto Name
0,0,WeTrust1.pdf,1.342260,40,12504,43.02,7.33,True,False,True,WeTrust USD
1,1,Libra4.pdf,0.293671,41,17474,54.42,6.51,True,False,True,Libera USD
2,2,B2BX1.pdf,15.404950,42,1,121.22,19.48,False,False,False,X USD
3,3,Bytom1.pdf,0.374002,17,4536,34.15,7.79,True,False,True,Bytom USD
4,4,Cindicator1.pdf,1.123809,37,15509,42.92,7.08,False,False,False,Cindicator USD
...,...,...,...,...,...,...,...,...,...,...,...
551,551,CPChain1.pdf,1.195266,34,7203,40.28,6.96,False,False,False,CPChain USD
552,552,Presearch2.pdf,5.291211,39,12904,41.70,7.16,True,False,False,Presearch USD
553,553,Electra1.pdf,0.624846,34,5508,37.13,9.05,True,True,False,Electra USD
554,554,Blockmason1.pdf,3.355893,31,13640,49.04,7.00,False,False,False,Blockmason Credit Protocol USD
555,555,Nucleus-Vision1.pdf,0.900639,1,409,36.12,12.53,False,False,False,Genesis Vision USD

In [33]:
ind_data.to_csv('Independent Data + Dependent Names.csv', index = False)