In [1]:
import pandas as pd
import numpy as np
import os
from io import StringIO

In [7]:
os.chdir('/Users/alisdghnia/Desktop/')

In [5]:
df1 = pd.read_excel('Full Dataset Cleaned Numbers Converted COPY.xlsx')

In [6]:
df1

,Unnamed: 0,Name,Crypto Name,File Size (MB),Number of Pages,Word Count,Flesch Reading Ease,New Dale-Chall,Abstract Section,Summary Section,Reference Section,Price (USD),Market Cap (USD),24Hr Volume in Currency (USD),Circulating Supply,Unnamed: 15
0,0,WeTrust1.pdf,WeTrust USD,1.342260,40,12504,43.02,7.33,1,0,1,2.483000e-03,228813.0,3.00,9.214800e+07,NaN
1,1,Libra4.pdf,DiemLibre USD,0.293671,41,17474,54.42,6.51,1,0,1,1.660000e-04,0.0,7.86,0.000000e+00,NaN
2,2,B2BX1.pdf,X USD,15.404950,42,1,121.22,19.48,0,0,0,6.870000e-04,0.0,9220.00,0.000000e+00,NaN
3,3,Bytom1.pdf,Bytom USD,0.374002,17,4536,34.15,7.79,1,0,1,1.237500e-02,21831000.0,1088000.00,1.764000e+09,NaN
4,4,Cindicator1.pdf,Cindicator USD,1.123809,37,15509,42.92,7.08,0,0,0,6.710000e-04,1342000.0,65.00,2.000000e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,549,CPChain1.pdf,CPChain USD,1.195266,34,7203,40.28,6.96,0,0,0,3.619000e-03,1363000.0,111473.00,3.767660e+08,NaN
550,550,Presearch2.pdf,Presearch USD,5.291211,39,12904,41.70,7.16,1,0,0,8.353100e-02,33127000.0,107073.00,3.965780e+08,NaN
551,551,Electra1.pdf,Electra USD,0.624846,34,5508,37.13,9.05,1,1,0,4.600000e-07,0.0,48.00,0.000000e+00,NaN
552,552,Blockmason1.pdf,Blockmason Credit Protocol USD,3.355893,31,13640,49.04,7.00,0,0,0,2.440000e-03,283474.0,9.00,1.161590e+08,NaN
553,553,Nucleus-Vision1.pdf,Genesis Vision USD,0.900639,1,409,36.12,12.53,0,0,0,2.341660e-01,1037000.0,1326.00,4.427000e+06,NaN

In [10]:
df2 = pd.read_excel('TFIDF smaller Dataset.xlsx')

In [11]:
df2

,File Name,aarhus,abbreviate,abdelmalek,abound,abstracts,abu,accelerates,accessories,acclaim,...,Ô¨Åfth,Ô¨Ånalised,Ô¨Ånalization,Ô¨Åred,Ô¨Årmly,Ô¨Åscal,Ô¨Åxedpoint,Ô¨Çagged,Ô¨Çoat,Ô¨Çuid
0,WeTrust1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Libra4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,B2BX1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bytom1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Cindicator1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,CPChain1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
550,Presearch2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
551,Electra1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,Blockmason1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
553,Nucleus-Vision1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df3 = pd.read_csv('Files Texts Dataframe.csv')

In [37]:
df3

          Unnamed: 0                                        Text Corpus
0           WeTrust1  wetrust whitepaper table of contents \n\n \n\n...
1             Libra4  state machine replication in the libra\n\nbloc...
2              B2BX1






















23\n\n



















3             Bytom1  bytomv1.0                                     ...
4        Cindicator1  hybrid intelligence for\n\neective asset mana...
..               ...                                                ...
551         CPChain1  \t\n\ncyber-physical chain (cpchain) whitepape...
552       Presearch2  whitepaper\n\nthe community-powered search eng...
553         Electra1  white paper\n\nrelease 1.0 / january 31, 2018\...
554      Blockmason1  the credit protocol whitepaper v1.0.1\n\nblock...
555  Nucleus-Vision1  “the full potential of connected devices is on...

[556 rows x 2 columns]

In [29]:
df = pd.merge(df1, df2, left_index= True , right_index= True)

In [30]:
df

,Unnamed: 0,Name,Crypto Name,File Size (MB),Number of Pages,Word Count,Flesch Reading Ease,New Dale-Chall,Abstract Section,Summary Section,...,Ô¨Åfth,Ô¨Ånalised,Ô¨Ånalization,Ô¨Åred,Ô¨Årmly,Ô¨Åscal,Ô¨Åxedpoint,Ô¨Çagged,Ô¨Çoat,Ô¨Çuid
0,0,WeTrust1.pdf,WeTrust USD,1.342260,40,12504,43.02,7.33,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Libra4.pdf,DiemLibre USD,0.293671,41,17474,54.42,6.51,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,B2BX1.pdf,X USD,15.404950,42,1,121.22,19.48,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Bytom1.pdf,Bytom USD,0.374002,17,4536,34.15,7.79,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Cindicator1.pdf,Cindicator USD,1.123809,37,15509,42.92,7.08,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,549,CPChain1.pdf,CPChain USD,1.195266,34,7203,40.28,6.96,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
550,550,Presearch2.pdf,Presearch USD,5.291211,39,12904,41.70,7.16,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
551,551,Electra1.pdf,Electra USD,0.624846,34,5508,37.13,9.05,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,552,Blockmason1.pdf,Blockmason Credit Protocol USD,3.355893,31,13640,49.04,7.00,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
553,553,Nucleus-Vision1.pdf,Genesis Vision USD,0.900639,1,409,36.12,12.53,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
arr = np.zeros(554)

In [25]:
arr = arr.tolist()

In [31]:
df.insert(loc = 1, column= 'Cat id', value= arr)

In [32]:
df

,Unnamed: 0,Cat id,Name,Crypto Name,File Size (MB),Number of Pages,Word Count,Flesch Reading Ease,New Dale-Chall,Abstract Section,...,Ô¨Åfth,Ô¨Ånalised,Ô¨Ånalization,Ô¨Åred,Ô¨Årmly,Ô¨Åscal,Ô¨Åxedpoint,Ô¨Çagged,Ô¨Çoat,Ô¨Çuid
0,0,0.0,WeTrust1.pdf,WeTrust USD,1.342260,40,12504,43.02,7.33,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,Libra4.pdf,DiemLibre USD,0.293671,41,17474,54.42,6.51,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,B2BX1.pdf,X USD,15.404950,42,1,121.22,19.48,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,Bytom1.pdf,Bytom USD,0.374002,17,4536,34.15,7.79,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,Cindicator1.pdf,Cindicator USD,1.123809,37,15509,42.92,7.08,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,549,0.0,CPChain1.pdf,CPChain USD,1.195266,34,7203,40.28,6.96,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
550,550,0.0,Presearch2.pdf,Presearch USD,5.291211,39,12904,41.70,7.16,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
551,551,0.0,Electra1.pdf,Electra USD,0.624846,34,5508,37.13,9.05,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,552,0.0,Blockmason1.pdf,Blockmason Credit Protocol USD,3.355893,31,13640,49.04,7.00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
553,553,0.0,Nucleus-Vision1.pdf,Genesis Vision USD,0.900639,1,409,36.12,12.53,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

X_train, X_test, y_train, y_test = train_test_split(df['File Size (MB)'], df['Price (USD)'], 
                                                    random_state = 0)

count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

clf = MultinomialNB().fit(X_train_tfidf, y_train)

AttributeError: 'float' object has no attribute 'lower'